@import url('https://fonts.googleapis.com/css2?family=Allison&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    background-color: rgb(190, 91, 76);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  line-height: 1.7;
    margin: 0px 0 20px;
    color: rgba(255, 255, 255, 0.75);
}

html, body {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-position: inside;
    padding: 0;
}

a {
    color: rgba(255, 201, 201, 0.75) ;
}

a:hover, a:active {
    color: #fff;
}

header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

header img {
    height: 250px; 
    width: 250px; 
    border: 15px solid #fff; 
    border-radius: 50%;
}

@media (max-width: 600px) {
    header img {
        height: 200px; 
        width: 200px; 
    }
}

h1 {
    font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
    margin: 0px 0 20px;
    color: rgb(32, 30, 30);
}

h2 {
    font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  /* text-align: center; */
    margin: 30px 0 15px;
    color: whitesmoke;
}

/* p {
    font-family: "PT Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.7;
    margin: 0px 0 20px;
    color: rgba(255, 255, 255, 0.75);   
} */

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img {
    max-width: 100%;
    margin: 30px 0 0 0;
}

.about {
    text-align: center;
}

.caption {
    font-size : 14px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0px 0 20px;
}

footer {
    background-color: rgb(32, 30, 30);
    padding: 10px;
    margin-top: 50px;
}

footer p {
    text-align: center;
    font-size: 15px;
    margin: 20px 0;
}

.sambor {
    background-color: rgb(156, 166, 84);
}